/* .banner-group {

} */

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-flex {
  position: absolute;
  margin: 50px;
}

.container-slider {
  width: 80vh;
  margin: 10px auto;
}
