/* .banner-group {

} */

.banner-container {
  text-align: center;
  background-image: url(https://res.cloudinary.com/dpdwv3yz1/image/upload/v1599723924/Group_45_ihh1wz.png);
  height: 500px;
}

.container-slider {
  width: 80vh;
  margin: 0px auto;
  padding-bottom: 100px;
}

.slider-numbers {
  width:300px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.slider-numbers p {
  font-size:12px;
  color: $lightgreen;
  margin: -10px 0px;
}
