<footer class="footer">
<div>
  <div class="footer-links">
    <a href="https://github.com/wwnwn"><%= cl_image_tag 'https://res.cloudinary.com/dpdwv3yz1/image/upload/v1599746036/wxyryipzf77z4js3z5hx2gas5szs.jpg', :gravity=>"faces", :crop=>"fill", class: "avatar" %></a>
    <a href="https://github.com/MarianaToscano"><%= cl_image_tag 'https://res.cloudinary.com/dpdwv3yz1/image/upload/v1599746035/il8vprcbfxz4zojxzhq252e2qzei.jpg', :gravity=>"faces", :crop=>"fill", class: "avatar" %></a>
    <a href="https://github.com/celinevalerie"><%= cl_image_tag 'https://res.cloudinary.com/dpdwv3yz1/image/upload/v1599746033/3nl2vemn2nwism549gzyn9ni7iwl.png', :gravity=>"faces", :crop=>"fill", class: "avatar" %></a>
    <a href="https://github.com/samirajil"><%= cl_image_tag 'https://res.cloudinary.com/dpdwv3yz1/image/upload/v1599746031/wwwptmvlt46ykd76moxvwqx5an1c.jpg', :gravity=>"faces", :crop=>"fill", class: "avatar" %></a>
  </div>
</div>

  <div class="footer-copyright">
    <i class="far fa-copyright"></i> Climately. All rights reserved.
  </div>
</footer>
 