<div class="header navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= cl_image_tag("no-straws-white_esdvml") %>
  <% end %>

  <h2 class="white mb-0"> Challenges </h2>
    <div class="button-mobile-secondary">
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </div>
</div>
