<div class="menu-container">
<nav class="menu menu-pills d-flex align-items-center justify-content-around">
  <%= link_to "Food", root_path, class: "menu-item menu-link active" %>
  <%= link_to "Mobility", root_path, class: "menu-item menu-link #{@underline_new ? 'active' : ''}" %>
  <%= link_to "Waste", root_path, class: "menu-item menu-link #{@underline_new ? 'active' : ''}" %>
  <%= link_to "Others", root_path, class: "menu-item menu-link #{@underline_new ? 'active' : ''}" %>
</nav>
</div>