<nav class="nav nav-pills nav-justified mb-2 mt-2">
  <%= link_to "List", root_path, class: "nav-item nav-link #{@underline_index ? 'active' : ''}" %>
  <%= link_to "Add", root_path, class: "nav-item nav-link #{@underline_new ? 'active' : ''}" %>
</nav>