<div class="footer fixed-bottom">
  <a href="#" class="footer-items">
    <div class="d-flex flex-column align-items-center">
      <i class="fas fa-search"></i>
      <p>Browse</p>
    </div>
  </a>
    <a href="#" class="footer-items">
    <div class="d-flex flex-column align-items-center">
      <i class="fas fa-users"></i>
      <p>Friends</p>
    </div>
  </a>
  <%= link_to "#", class: "footer-items d-flex flex-column align-items-center" do %>
    <%= image_tag "no-straws.png", size: "22x22"%>
    <p>Challenges</p>
  <% end %>
  <a href="#" class="footer-items">
    <div class="d-flex flex-column align-items-center">
      <i class="fas fa-chart-line"></i>
      <p>Statistic</p>
    </div>
  </a>
  <%= link_to "#", class: "footer-items d-flex flex-column align-items-center" do %>
    <%= image_tag "no-straws.png", size: "22x22"%>
    <p>Profile</p>
  <% end %>
</div>