<div class="footer fixed-bottom">
  <a href="#" class="footer-items">
    <div class="d-flex flex-column align-items-center">
      <i class="fas fa-search"></i>
      <p>Browse</p>
    </div>
  </a>
    <a href="#" class="footer-items">
    <div class="d-flex flex-column align-items-center">
      <i class="fas fa-users"></i>
      <p>Friends</p>
    </div>
  </a>
  <%= link_to "#", class: "footer-items d-flex flex-column align-items-center" do %>
    <%= cl_image_tag "Layer_12_nwffji", size: "22x22"%>
    <p>Challenges</p>
  <% end %>
  <a href="#" class="footer-items">
    <div class="d-flex flex-column align-items-center">
      <i class="fas fa-chart-line"></i>
      <p>Statistic</p>
    </div>
  </a>
  <%= link_to "#", class: "footer-items d-flex flex-column align-items-center" do %>
    <%= cl_image_tag "blank-profile-picture-973460_640_fctahx", class: "profile-small"%>
    <p>Profile</p>
  <% end %>
</div>