<div class="footer fixed-bottom">
  <a href="#">
    <div class="d-flex flex-column align-items-center">
      <i class="fas fa-plus"></i>
      <p>Item 1</p>
    </div>
  </a>
  <%= link_to "*", id: "cocktails-img" do %>
    <%= image_tag "no-straws.png", size: "30x30"%>
  <% end %>
  <a href="#">
    <div class="d-flex flex-column align-items-center">
      <i class="far fa-heart"></i>
      <p>Favorites</p>
    </div>
  </a>
</div>