<p>Mobile Navbar:</p>
<%= cl_image_tag "blank-profile-picture-973460_640_fctahx", class: "profile-small"%>
<p>Desktop Navbar</p>
<%= image_tag "https://kitt.lewagon.com/placeholder/users/celinevalerie", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
