<div class="banner">
  <div class="banner-content text-center">
    <h1>Climately</h1>
    <p>Save the world in yout couch!</p>
    <%= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>