<h1 class="page-title">Challenges</h1>
<h2 class="page-subtitle">Get started and add a challenge!</h2>

<% @challenges.each do |challenge| %>
  <ul>
    <li>
    <%= link_to challenge.name, challenge_path(challenge) %>
    <%= challenge.description %>
    </li>
  </ul>
<% end %>
