<h1 class="page-title">Challenge Details</h1>
<h2 class="page-subtitle">See below all the details about your challenge</h2>

  <ul>
    <li>
    <%= @challenge.name %>
    <%= @challenge.description %>
    </li>
  </ul>

  <%= link_to "Costumize this challenge", new_group_path %>
