.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px 0px 20px 0px;
}
.avatar-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-medium {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px -10px 0px 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-small .text-secondary {
  font-size: 10px;
  margin-bottom: 0px;
}

.avatar-profile-page {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  margin-top: 5%;
  margin-bottom: 5%;
}

@include media-breakpoint-down(md) {
  .avatar-profile-page  {
    width: 100px;
    height: 100px;
	}
}

.titlefontsize {
  font-size: 22px;
  margin-bottom: 2rem;
}

.profile-page-margin {
  margin-bottom: 2rem;
}

@include media-breakpoint-between(lg,xl) {
  .card-profile  {
    margin: 150px;
	}
}
