.button-small{
  color: white;
  background-color: $lightgreen;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

.button-large{
  color: white;
  background-color: $lightgreen;
  border-radius: 4px;
  width: 180px;
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

.button-medium{
  color: white;
  background-color: $lightgreen;
  border-radius: 4px;
  width: 129px;
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  float: right;
}

.button-small-secondary{
  color: $lightgreen;
  background-color: white;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

.button-large-secondary{
  color: $lightgreen;
  background-color: white;
  border-radius: 4px;
  width: 180px;
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

.button-large-yellow{
  color: white;
  background-color: $darkyellow;
  border-radius: 4px;
  width: 180px;
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

.button-large-grey {
  color: white;
  background-color: lightgrey;
  border-radius: 4px;
  width: 180px;
  height: 40px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}


.button a {
  color: white;
  padding: 12px 22px;
}

.button a:hover {
  text-decoration: none;
}

.button input {
  color: white;
  padding: 12px 22px;
  font-size: 16px;
}

.button input:hover {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.button:hover {
  opacity: 0.9;
  transform: scale(1.01) perspective(1px);
}


.button-large-secondary a {
  color: $lightgreen;
  padding: 12px 22px;
}

.button-large-secondary a:hover {
  text-decoration: none;
}

.button-secondary input {
  color: $lightgreen;
  padding: 12px 22px;
}

.button-large-secondary input:hover {
  text-decoration: none;
}

.button-large-secondary:hover {
  opacity: 0.9;
  transform: scale(1.01) perspective(1px);
}

.bg-green {
  background-color: $lightgreen;
  padding: 20px;
}

.button-large-yellow a {
  color: white;
  padding: 12px 22px;
}

.button-large-yellow a:hover {
  text-decoration: none;
}

.button-large-yellow input {
  color: white;
  padding: 12px 22px;
}

.button-large-yellow input:hover {
  text-decoration: none;
}

.button-mobile-secondary{
  color: $lightgreen;
  background-color: white;
  border-radius: 4px;
  width: 60px;
  height: 30px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  margin-right: 10px;
}

.button-mobile-secondary a:hover {
  text-decoration: none;
}
.button-mobile-secondary:hover {
  transform: scale(1.01) perspective(1px);
}