html {
  font-size: 10px;
}

.card-img {
  height: 100px;
  width: 100px;
  border-radius: 4px;
}

.card-body {
  padding-left: 0px;
}

.card-b {
  padding-left: 0px;
}


.card-body-friends p {
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-body p {
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-range label {
  font-size: 10px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto;
  max-width: 100%;
  border-radius: 4px;
  height: 120px;
}

.friend-card {
  background: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto;
  max-width: 100%;
  border-radius: 4px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-col-img {
  max-width: 120px;
  max-height: 120px;
  padding: 10px;
}

.card-col-pic {
  max-width: 60%;
  max-height: 60%;
  padding-left: 5%;
  padding-right: 5%;
}

.range {
  padding: 0px 15px 15px 0px;
}

.slider {
  background-color: #CEDFD9;
  border-radius: 4px;
}

.slider-value {
  background-color: $lightgreen;
  border-radius: 4px;
}

.profile-card {
  width: 600px;
  height: 115px;
}

@include media-breakpoint-between(md,xl) {
  .card {
		width: 480px;
	}
}

@include media-breakpoint-between(md,xl) {
  .friend-card {
		width: 480px;
	}
}

.friendavatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0px 0px 20px 0px;
}

.page-title-friends {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}

.points {
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-bottom: auto;
  padding: 2%;
  color: $darkyellow;
  padding: 20px;
}

.challengesize {
  font-size: 30px;
} 

@include media-breakpoint-down(xs) {
  .challengesize  {
		font-size: 20px;
	}
}

.popup {
  background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%), image-url("homepage2.png");
}