.chatroom {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid $gray-200;
    margin: 0 auto; 
  
    h1 {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid $gray-200;
      margin-bottom: 0;
    }
  }
  
  #messages {
    padding: 0 1rem;
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100vh - 70px - 65px - 71px);
    max-width: 100%;
  }
  
  #new_message {
    padding: 1rem;
    border-top: 1px solid $gray-200;
  
    .form-group {
      margin-bottom: 0;
    }
  }

  .chat-form {
    display: flex; 

  }

  .typing-field {
    flex-grow: auto; 
  }

  .chatroom .form-group {
    display: flex; 
    align-items: center;
    padding-bottom: 10px;
  }

  .chatroom .form-group input {
    height: 40px;
  }