.chatroom {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid $gray-200;
    margin: 20px auto; 
    width: 90vh;
    color: $blackgreen;
    border-radius: 4px;
    box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  }
  
  #messages {
    padding: 0 1rem;
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100vh - 70px - 65px - 71px);
    max-width: 100%;
    min-height: 200px;
  }
  
  #new_message {
    padding: 1rem;
    border-top: 1px solid $gray-200;
  
    .form-group {
      margin-bottom: 0;
    }
  }

  .chat-form {
    display: flex; 

  }

  .typing-field {
    flex-grow: auto; 
  }

  .chatroom .form-group {
    display: flex; 
    align-items: center;
    padding-bottom: 10px;
  }

  .chatroom .form-group input {
    height: 40px;
    font-size: 12px;
  }
