.checkbox{
    color: white;
    background-color: $lightgreen;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 14px rgba(126,87,88,.05), 0 3px 6px rgba(0,0,0,.06);
  }

  .checkbox-secondary{
    color: $lightgreen;
    background-color: white;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 14px rgba(126,87,88,.05), 0 3px 6px rgba(0,0,0,.06);
    border: 1px solid $lightgreen;
  }

  .checkbox-long{
    color: white;
    background-color: $lightgreen;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 14px rgba(126,87,88,.05), 0 3px 6px rgba(0,0,0,.06);
    border: 1px solid $lightgreen;
    margin-top: 5px;
  }

  .checkbox .fas {
    font-size: 18px;
  }

  .checkbox-secondary .fas {
    font-size: 22px;
  }

  .checkbox:hover {
    text-decoration: none;
  }
    
  .checkbox input:hover {
    text-decoration: none;
  }
  
  .checkbox:hover {
    opacity: 0.9;
    transform: scale(1.01) perspective(1px);
  }

  .checkbox-secondary:hover {
    opacity: 0.9;
    transform: scale(1.01) perspective(1px);
  }

  .button-container a:hover {
    text-decoration: none;
  }

  .button-container p {
    font-size: 10px;
    text-align: center;
  }

  .days {
    color: $darkgreen;
    font-size: 22px;
  }

  .day-border-right {
    border-right: 1px solid $darkgreen;
  }

  .celebration-bg {
    height: 120px;
    border-radius: 4px;
  }

  .points-button {
    margin-right: 40px;
  }
