.footer {
    background: #D8DCDB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    color: $blackgreen;
    opacity: 0.8;
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: $blackgreen;
    opacity: 0.8;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  
  .wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: 160px;
  }
  .footer, .push {
    height: 80px;
  }

  @include media-breakpoint-down(xs) {
    .footer {
    display: none;
    }
  }