.form-title{
  font-size: 25px;
  margin-bottom: 5%;
}

.form-desc p{
  margin-bottom: 5%;
  text-align: center;
  text-align: justify;
  text-align-last: center;
}

.firstscale{
text-align-last: start;
font-size: 14px;
}

.secondscale{
  text-align-last: start;
  font-size: 14px;
}

.card-range label {
  font-size: 14px;
}
