  .header h2 {
    font-weight: bolder;
  }

  .header .navbar-brand img {
    width: 40px;
    margin: 0 10px;
  }

  .header {
    background: $lightgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include media-breakpoint-between(sm,xl) {
    .header {
    display: none;
    }
  }
