.menu {
    height: 5vh;
    font-weight: bold; 
    display: flex;
    justify-content: space-around;
  }
  
  .menu-item {
    font-size: 16px;
    padding: 5px 12px; 
    color: $lightgreen;
    border-radius: 4px;
  }

  .menu-item a:hover {
    text-decoration: none;
  }
  
  .menu-pills .menu-link.active {
    background-color: $lightgreen;
    color: $light-gray;
    margin: 0px;
  }

  .menu-link:hover {
    text-decoration: none; 
    color: $lightgreen;
    transform: scale(1.01) perspective(1px);
  }

  .menu-container {
    margin: 20px auto;
  }


  @include media-breakpoint-down(xs) {
    .menu-container {
      width: 95%; 
    }
  }

  @include media-breakpoint-between(sm,xl) {
    .menu-container {
      width: 60%;
    }
  }