.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar h2 {
  font-weight: bolder;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  height: 8vh;
  min-height: 50px;
  display: flex;
  align-items: center;
  // background: linear-gradient(270.59deg, #5ACCB3 0.23%, #4AAA8F 100%), #4AAA8F;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
}

.active h1 {
  margin-left: 10px;
  color: #5ACCB3;
  font-weight: bolder;
  font-size: 24px;
}

.nav-item:hover {
  text-decoration: none;
}

.nav-item .avatar {
  margin: 0px;
}

.nav-item {
  padding: 0px 30px 0px 30px;
  height: 20px;
}

.nav-links {
  color: #5ACCB3;
  font-size: 18px;
  margin: 0px 25px 0px 0px;
}

.nav-links:hover {
  color: #4AAA8F;
  opacity: 0.8;
  text-decoration: none;
}

.dropdown-item {
  font-size: 12px;
}

@include media-breakpoint-down(xs) {
  .navbar {
  display: none;
  }
}
