.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar h2 {
  font-weight: bolder;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background: linear-gradient(270.59deg, #5ACCB3 0.23%, #4AAA8F 100%), #4AAA8F;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
}

.active h1 {
  margin-left: 10px;
  color: white;
  font-weight: bolder;
  font-size: 24px;
}

.nav-item:hover {
  text-decoration: none;
}

.nav-item li {
  padding: 30px 0px 0px 0px;
}

.nav-links {
  color: white;
  font-size: 18px;
  margin: 150px 25px 0px 0px;
}

.nav-links:hover {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

.navbar-nav {
  padding: 15px 25px 0px 0px;
}

@include media-breakpoint-down(xs) {
  .navbar {
  display: none;
  }
}
